.group-owner{
  background-color: white;

}

.group-main-container{
  background: rgba(240, 242, 245, 1);
}
.group-owner{
  padding-left: 9px;
  padding-right: 9px;
}

.group-main-container .trip-button{
  width: 200px;
  margin-bottom: 18px;
}
