

/* Kontener modala Create Post */
.create-post-container {
  position: fixed;
  top: 50%; /* Ustawienie na środek pionowo */
  left: 50%; /* Ustawienie na środek poziomo */
  transform: translate(-50%, -50%); /* Przesunięcie o 50%, aby idealnie wyśrodkować */
  width: 700px;
  background-color: white; /* Tło modala */
  border-radius: 8px;
  z-index: 1010; /* Wyżej niż overlay */
  padding: 20px;
  -webkit-box-shadow: 0px 2px 4px 0px  rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px  rgba(0, 0, 0, 0.25);
}

.close-icon-post {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute; /* Ustawienie absolutne w nagłówku */
  /* top: 20px; Odległość od góry */
  right: 20px; /* Odległość od prawej */
  align-items: center;
}

.create-post-header {
  display: flex;
  justify-content: center; /* Wyśrodkowanie tytułu */
  align-items: center;
  position: relative;
}

.create-post-title {
  font-size: 30px;
  font-weight: 600;
  
}

/* Textarea */
.post-textarea {
  width: 664px;
  height: 264px;
  border-radius: 15px;
  padding: 10px;
  font-size: 22px;
  margin-top: 20px;
  resize: none;
  background: rgba(245, 247, 248, 1);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 0px 2px 0px  rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 0px  rgba(0, 0, 0, 0.25);
}

.media  {
  height: 50px;
  width: 100%;
}

.post-owner {
  display: flex;
  align-items: center; /* Wyśrodkowanie elementów w pionie */
  justify-content: space-between; /* Rozstawienie elementów w poziomie */

  height: 60px;
  width: 100%;
}

.media-prewview {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.media-item{
  position: relative;
  
}


.uploaded-media {
  width: 214px;
  height: 171px;
  /* border-radius: 8px; */
  position: relative;
}
 .index0{
  border-top-left-radius: 15px;
}
.index2{
  border-top-right-radius: 15px ;
}

.index3{
  border-bottom-left-radius: 15px;
}

.index5{
  border-bottom-right-radius: 15px;
}

.blurred{
  filter: brightness(50%);

}



.more-count {
  position: absolute;
  bottom: 120px;
  right: 120px;
  color: rgb(255, 255, 255); 
  font-size: 48px; 
}

.delete-image {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  width: 20px; 
  height: 20px;
}


.custom-select{
  width: 100px;
}
/* Stylizacja dla całego kontenera select */
.custom-select__control {
  background-color: white;
  box-shadow: 0px 0px 2px 0px #00000040;
  align-items: center;
  width: 130px;

  /* height: 40px; */
  display: flex;
  padding-left: 0; /* Usuń padding z lewej strony */
  font-size: 13px; /* Ustawienie jednolitego rozmiaru tekstu */
  justify-content: flex-start; /* Wyrównanie zawartości do lewej */
}

/* Stylizacja wybranej wartości */
.custom-select__single-value {
  display: flex;
  align-items: center;
  font-size: 13px; /* Rozmiar tekstu dla wybranej opcji */
  justify-content: flex-start;
  
  padding-left: 0px;
}

/* Stylizacja opcji */
.custom-select__option {
  display: flex;
  /* align-items: center; */
  font-size: 13px; /* Rozmiar tekstu dla opcji */
  /* padding: 8px; */
  cursor: pointer;
  justify-content: flex-start;
}

.custom-select__option img {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.custom-select__indicator {
  color: #333;

}
.custom-select__single-value img{
  width: 16px;
  height: 16px; 
  margin-right: 8px;
}






