.post-container {
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 9px 18px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);

}

.slider-container {
  background-color: rgb(255, 255, 255);
  /* margin-top: 5px; */
} 
.slider-container-padding{
  padding-top: 9px;
}
.post-owner-container {
  height: 48px;
  width: 100%;

}

.owner-awatar {
  width: 48px;
}

.text-container {
  width: 100%;
  text-align: left;
  /* font-family: "Source Sans 3", serif; */
}
.content-text {
  /* align-items: flex-start; */
  font-size: 16px;
  align-items: flex-start;
  margin: 0; /* Upewnij się, że nie ma dodatkowego marginesu */
  overflow: hidden; /* Ukryj nadmiarowy tekst */
  display: -webkit-box; /* Użyj flexboxa dla klamrowania */
  -webkit-box-orient: vertical; /* Ustaw orientację na pionową */
  -webkit-line-clamp: 3; /* Ogranicz do 3 linii */
  line-clamp: 3; /* Ogranicz do 3 linii */
  white-space: normal; /* Pozwól tekstowi zawijać się normalnie */
  margin-top: 9px;
}

.content-text.expanded {
  display: block; /* Umożliwia wyświetlenie całego tekstu */
}

.toggle-text {
  font-weight: bold;
  cursor: pointer; /* Zmiana kursora, aby wskazywał na klikalność */
  margin-left: 5px; /* Dodaj mały odstęp z lewej */
  display: inline; /* Ustawienie inline, aby był obok tekstu */
}

.reactions-conteiner {
  width: 100%;
  border-bottom: 1px solid rgba(217, 217, 217, 1)
}

.comment-container-post {
  width: 100%;
  margin-top: 13px;
}

.more-options{
  width: 36px;
  height: 36px;
}

.more-options-button {
  margin-left: auto; 
  cursor: pointer; /* Zmienia kursor na wskaźnik, gdy najeżdżasz na przycisk */
}

.more-options-button:hover .more-options {
  background-color: #f0f0f0;
  border-radius: 50px;
}

/* Przyciski nawigacyjne (widoczne, ale nieaktywny) */
.carousel-control-prev, .carousel-control-next {
  pointer-events: none;  /* Blokuje interakcje z przyciskiem */
}

/* Akcja tylko dla ikon */
.carousel-control-prev-icon, .carousel-control-next-icon {
  pointer-events: auto; /* Pozwala na interakcje z ikoną */
  cursor: pointer;      /* Zmienia kursor, aby wskazywał na akcję */
}
