.post-owner-container {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}
.avatar-container {
  width: 48px;
  height: 100%;
}

.post-owner-avatar {
  /* height: 48px;
  width: 48px; */
  height: 80%;
  width: 100%;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

.post-owner-details {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  margin-left: 25px;
  align-items: flex-start;
}

.post-owner-details.no-date {
  justify-content: center; /* Wyśrodkowanie pionowe, gdy brak daty */
  padding-bottom: 20px; /* Usuń padding, aby wyśrodkować tekst */
}

.post-owner-name {
  margin: 0;
  font-size: 18px;
  
}

.post-owner-date {
  font-size: 14px;
  color:  rgba(0, 0, 0, 0.55);
  margin-top: 3px;
}

