.Post-page {
    /* width: clamp(500px, 80%, 900px); */
    width: 900px;
    /* height: 100%; */
    /* z-index: 20; */
   

}
.Feeds{
    width: 100%;
    /* height: 0px; */
    height: 100px;
    top: 0px;
    margin-bottom: 26px;
}

@media (-webkit-device-pixel-ratio: 1.5){
    .Post-page{
        width: 600px;
    }
}

@media (-webkit-device-pixel-ratio: 1.25){
    .Post-page{
        width: 700px;
    }
}