.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Przyciemnienie */
  z-index: 900; /* Mniejszy niż nakładka */
  pointer-events: none
}


.post-details-no-img {
  display: flex;
  flex-direction: column; /* Ustaw układ w kolumnie */
  background-color: white;
  position: fixed;
  padding: 18px;
  max-height: 800px; /* Maksymalna wysokość okna */
  width: 90%; /* Opcjonalne, aby okno lepiej dopasowało się do szerokości */
  max-width: 600px; /* Maksymalna szerokość */
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); Delikatny cień */
  border-radius: 8px; /* Zaokrąglenia */
  overflow: hidden; /* Ukryj nadmiar treści */
}

.content-text {
  text-align: left;
  margin-bottom: 12px; /* Odstęp między treścią a reakcjami */
}

.chat-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 10;
}

.comment-section {
  flex-grow: 1; /* Zajmij dostępną przestrzeń */
  overflow-y: auto; /* Dodaj przewijanie w pionie */
  padding: 8px 0; /* Opcjonalny odstęp */
  border-top: 1px solid #e0e0e0; /* Linie oddzielające */

  max-height: 500px; /* Maksymalna wysokość z uwzględnieniem miejsca na write-comment-container */
  margin-bottom: 10px;
}

.comment-section::-webkit-scrollbar {
  width: 8px;
}

.comment-section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.write-comment-container {
  margin-top: 12px;
  position: sticky; /* Ustawienie na stałej pozycji w dolnej części sekcji */
  bottom: 0;
  background-color: white; /* Tło dla widoczności */
  padding: 8px 0; /* Odstęp w kontenerze */
  height: 60px; /* Ustaw wysokość kontenera */
  
}
