.event-main-image-container {
  position: relative;
  width: 100%;
  max-height: 530px ;

}
.event-main-container {
  width: 900px;
  max-width: 900px; /* Maksymalna szerokość, jeśli chcesz ograniczyć na większych ekranach */
  margin: 0 auto; /* Wyśrodkuj kontener */
  gap: 18px;
  background: rgba(240, 242, 245, 1);
  
}
.event-more-details{
  margin-top: 18px;
}

.event-main-image-container .event-image{
  max-width: none;
  object-fit: contain;
  background-color: white;
  
}

.change-image-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  right: 9px;
  background: rgba(255, 255, 255, 1);
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  
  

}

.change-image-label {
  cursor: pointer;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.upload-button {
  margin-top: 15px;
  
}

.icon-change{
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.image-action-buttons {
  position: absolute;
  bottom: 15px;
  left:40px;
  display: flex;
  gap: 10px;
}

.save-button, .back-button {
  padding: 10px 20px;
  cursor: pointer;
}



@media (-webkit-device-pixel-ratio: 1.25) {
  .event-main-container{
    width: 700px ;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .event-main-container{
    width: 600px ;
  }
}

