.event-main-details{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  width: 100%;
  background-color: white;

}

.public-icon{
  height: 18px;
  width: 18px;
  margin-left: 0;
}

.event-main-info{
  display: flex;
  text-align: left;
  padding-top: 18px;
}

.event-main-info-details{
  width: 75%;
  
}

.event-main-dates{
  width: 25%;
  display: flex;
  gap: 18px;
  justify-content: flex-end; 

}

.event-main-dates .date-card{
  width: 65px;
  height: 86px;

}

.event-public-text {
  margin-bottom: 0;
  margin-left: 7px ;
  font-weight: 600;
  font-size: 16px;
}
.activities-languages{
  /* padding-left: 9px;
  padding-right: 9px; */
}



.member-numbers-event .icon-members{
  width: 48px;
  height: 48px;
  max-width: 48px;
  max-height: 48px;
}

.member-numbers-event .participants-number{
  font-size: 32px;
  margin-bottom: 0;
}

.event-main-owner{
  text-align: left;
}

.owned-by{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.event-main-owner .post-owner-container{
  margin-left: 0;
  width: auto;
}
.event-main-owner .post-owner-avatar{
  width: 24px;
  height: 24px;
}

.event-main-owner .trip-owner{
  width: auto;
}
.event-main-owner .post-owner-name{
  font-size: 13px;
  font-weight: 400;
  margin-left: 5px;
}

.event-more-details {
  width:100;
}

.activities-section{
  display: flex;
  gap: 10px;
  padding-bottom: 0;
}

/* .event-buttons{
  display: flex;
  gap: 9px;
  margin-right: 9px;
  align-items: center;
} */
.event-owner{
  display: flex;
  justify-content: space-between;
}

.event-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
