.trip-info{
  flex-direction: column;
  align-items: flex-start
}

.trip-info .public-icon,
.trip-info .text-decription{
  margin-left: 18px ;
}

.edit-text{
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.51);

}

.edit-text:hover{
  cursor: pointer;
}

.event-public{
  display: flex;
  align-items: center;
  margin-bottom: 18px;

}

.text-decription-event{
  font-size: 14px;

}