.settings-menu {
  padding: 9px;
  border-radius: 8px;
  height: auto;
}

.settings-menu .icon {
  margin-right: 10px;
}

.settings-menu .tittle-container {
  padding-left: 0px;
  height: 30px;
  padding-bottom: 9px;
}

.settings-menu .info-container-info {
  font-size: 16px;
}

.settings-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.settings-option {
  display: flex;
  align-items: center;
  padding: 7px;
  border-radius: 8px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.settings-option img.icon {
  width: 20px;
  height: 20px;
}

.settings-option span {
  font-size: 16px;
}

.settings-option.active {
  background: rgba(240, 242, 245, 1);
}

.settings-option.active span {
  font-weight: bold;
}
