.about-container {
  display: grid;
  
  grid-auto-rows: auto;                   
  gap: 15px;                               /* Odstęp między elementami */
  align-items: start;
  justify-items: start;
}
.stats-container{
  width: 30%;
  aspect-ratio: 100 / 47; 
  margin-top: auto;
  margin-bottom: auto;
}