.text-decription {
  font-size: 13px;      
  /* -webkit-box-orient: vertical;               
  overflow: hidden;                   
  text-overflow: ellipsis;            */

  margin: 10px;                            
}

@media (max-width: 1400px) {
  .text-decription{
    font-size: 8px ;
    margin: 3px;

  }
}