.text-decription {
  font-size: 14px; 
  font-family: "Source Sans 3", serif;
  list-style: 17.6px;
  font-weight: 400;    
  /* -webkit-box-orient: vertical;               
  overflow: hidden;                   
  text-overflow: ellipsis;            */

  margin: 10px;                            
}

.tittle-container{
  display: flex;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  height: 40px;
}

@media (max-width: 1400px) {
  .text-decription{
    font-size: 8px ;
    margin: 3px;

  }
}