.main-content {
  position: absolute;
  top: 70px;
  left: 320px;
  right: 300px;
  background: rgba(240, 242, 245, 1);
  display: flex;
  justify-content: center;
  min-width: 700px;
  transition: all 0.3s ease;
}

.left-menu {
  width: 320px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: all 0.3s ease;
}

.right-menu {
  width: 300px;
  height: 70px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.rightpanell {
  width: 300px;
  position: fixed;
  top: 70px;
  right: 0;
  height: calc(100vh - 70px);
  transition: all 0.3s ease;
}

.searchbar {
  position: fixed;
  top: 0;
  left: 320px;
  right: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
  transition: all 0.3s ease;
}

@media (max-width: 1250px) and (-webkit-device-pixel-ratio: 1) {
  .main-content {
    width: calc(100% - 570px);
  }
}

@media (max-width: 1535px) and (-webkit-device-pixel-ratio: 1) {
  .right-menu,
  .rightpanell {
    display: none;
  }

  .main-content {
    right: 0;
    width: calc(100% - 320px);
  }

  .searchbar {
    /* right: 0; */
    width: calc(100% - 320px);
  }
}

@media (max-width: 1220px) and (-webkit-device-pixel-ratio: 1) {
  .left-menu {
    display: none;
  }

  .main-content {
    left: 0;
    top: 70px;
    width: 100%;
  }

  .searchbar {
    left: 0;
    width: 100%;
  }
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .main-content {
    left: 250px;
  }
  .left-menu {
    width: 250px;
  }
  .searchbar {
    left: 250px;
  }
}

@media (max-width: 2000px) and (-webkit-device-pixel-ratio: 1.5) {
  .main-content {
    width: calc(100% - 550px);
    /* padding: 0 20px; */
  }
}

@media (max-width: 1220px) and (-webkit-device-pixel-ratio: 1.5) {
  .right-menu,
  .rightpanell {
    display: none;
  }

  .main-content {
    right: 0;
    width: calc(100% - 250px);
  }

  .searchbar {
    right: 0;
    width: calc(100% - 250px);
  }
}

@media (max-width: 770px) and (-webkit-device-pixel-ratio: 1.5) {
  .left-menu {
    display: none;
  }

  .main-content {
    left: 0;
    top: 70px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .searchbar {
    width: 100%;
  }
}

@media (max-width: 1000px) and (-webkit-device-pixel-ratio: 1.25) {
  .main-content {
    width: calc(100% - 570px);
  }
}

@media (max-width: 1330px) and (-webkit-device-pixel-ratio: 1.25) {
  .right-menu,
  .rightpanell {
    display: none;
  }

  .main-content {
    right: 0;
    width: calc(100% - 320px);
  }

  .searchbar {
    width: calc(100% - 320px);
  }
}

@media (max-width: 1030px) and (-webkit-device-pixel-ratio: 1.25) {
  .left-menu {
    display: none;
  }

  .main-content {
    left: 0;
    top: 70px;
    width: 100%;
  }

  .searchbar {
    left: 0;
    width: 100%;
  }
}
