/* Lewy panel - przyklejony do lewej strony */
/* .left-menu {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
} */

/* Pasek wyszukiwania - zajmuje przestrzeń pomiędzy lewym i prawym panelem */
.searchbar {
  position: fixed;
  top: 0;
  left: 250px; /* Przesunięcie o szerokość lewego menu */
  right: 300px; /* Przesunięcie o szerokość prawego menu */
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 10;
  /* Wypełnia przestrzeń między lewym i prawym panelem */
  width: calc(100% - 550px);
  max-width: calc(100vw - 550px);
}

/* Prawy panel - przyklejony do prawej strony */
.right-menu {
  width: 300px;
  height: 70px;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rozszerzenie prawego panelu na resztę strony */
.rightpanell {
  width: 300px;
  position: fixed;
  top: 70px; /* Poniżej paska wyszukiwania */
  right: 0;
  height: calc(100vh - 70px); /* Wypełnia resztę wysokości ekranu */
}

/* Główna zawartość - pomiędzy lewym i prawym panelem */
.main-content {
  position: absolute;
  top: 70px; /* Poniżej paska wyszukiwania */
  left: 250px; /* Przesunięcie o szerokość lewego menu */
  right: 300px; /* Przesunięcie o szerokość prawego menu */
  background-color: rgba(245, 247, 248, 1);
  /* min-height: calc(100vh - 70px); Wypełnia wysokość okna minus pasek wyszukiwania */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: auto; Dodaje przewijanie pionowe, gdy treść przekroczy dostępne miejsce */
}

/* Modal - wycentrowany na ekranie */
.add-post-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1001;
}

/* Efekt rozmycia tła dla aktywnego modalu */
.blur-background .main-content,
.blur-background .left-menu,
.blur-background .right-menu,
.blur-background .searchbar,
.blur-background .rightpanell {
  filter: brightness(50%);
  pointer-events: none;
}
