.right-menu-container {
  
  background-color: #952323; /* Kolor tła dla prawego menu */
  width: 300px;
  position: absolute;
  height: 70px;
  right: 0;
  top: 0;
  border: 0.1px inset #000000;
  
 
}
.icon {
  width: 20px;
  width: 20px;
}

.button-icon {
  padding: 10px 20px;
  background-color: #000000; /* Kolor przycisku */
  color: white;
  border: none;
  border-radius: 5px; /* Zaokrąglone rogi przycisku */
  cursor: pointer;
  font-size: 16px;
}