.event-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin: 10px auto;
}

.event-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Source Sans 3", serif;
  font-size: 14px;
  font-weight: 600;
  
}

.event-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.event-content {
  display: flex;
}

.event-image-container {
  width: 30%;
  display: flex; /* Dodanie flexbox */
  justify-content: center; /* Poziome wyśrodkowanie */
  align-items: center; /* Pionowe wyśrodkowanie */
}

.event-image {
  width: 100%; /* Obrazek ma wypełnić szerokość kontenera */
  height: 100%; /* Obrazek ma wypełnić wysokość kontenera */
  border-radius: 10px;
  object-fit: fill; 
}

.event-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-left: 20px;
  text-align: left;
}

.event-date {
  display: flex; /* Ustawienie flexboxa */
  gap: 20px; /* Dodanie odstępu między elementami, możesz dostosować wartość */
  
  border-bottom: 1px solid  rgba(217, 217, 217, 1);
  padding-bottom: 15px ;
}

.event-date .date-card{
  width: auto;
  height: auto;
}
.event-name-container {
  display: flex;
  align-items: flex-start; /* Wyrównanie tekstu do góry kontenera */
  justify-content: center; /* Wyrównanie poziome */
  width: 100%; /* Dopasowanie do dostępnej szerokości */
  overflow: hidden; /* Ukrycie nadmiaru */
}

.event-name {
  font-size: 18px; /* Ustawienie rozmiaru tekstu */
  font-weight: 600;
  margin: 0; /* Resetowanie marginesów */
  display: -webkit-box; /* Wymagane dla obsługi line-clamp */
  -webkit-box-orient: vertical; /* Ustawienie osi pionowej */
  -webkit-line-clamp: 4; /* Maksymalna liczba linii */
  line-clamp: 4; /* Alternatywa dla nowoczesnych przeglądarek */
  overflow: hidden; /* Ukrycie nadmiaru tekstu */
  text-overflow: ellipsis; /* Dodanie kropek na końcu */
  max-width: 100%; /* Zapewnienie, że tekst dopasuje się do szerokości */
  word-wrap: break-word; /* Zawijanie tekstu w przypadku długich słów */
}

.event-card .user-container{
  /* padding-top: 20px; */
}

.event-name:hover{
  cursor: pointer;
}

.event-about {
  border-bottom: 1px solid  rgba(217, 217, 217, 1);
  padding-bottom: 15px ;
}
.event-description-container{
  display: flex;
  flex-direction: column;
  max-height: 150px;
 
}



.event-description {
  font-size: 14px;
  color: #666;
  margin: 0;    
  display: -webkit-box; /* Wymagane dla obsługi line-clamp */
  -webkit-box-orient: vertical; /* Ustawienie osi pionowej */
  -webkit-line-clamp: 3; /* Maksymalna liczba linii */
  line-clamp: 3; /* Alternatywa dla nowoczesnych przeglądarek */
  overflow: hidden; /* Ukrycie nadmiaru tekstu */
  text-overflow: ellipsis; /* Dodanie kropek na końcu */
  max-width: 100%; /* Zapewnienie, że tekst dopasuje się do szerokości */
  word-wrap: break-word; /* Zawijanie tekstu w przypadku długich słów */
}

.event-owner {
  height: 50px;
}

.activities-languages{
  display: flex;

  
}
.event-section{
  width: 50%;
  text-align: left;
}
.languages{
  /* display: flex; */
  flex-direction: column;
}

.languages .fi{
  font-size: 36px;
  width: 48px;
  height: 48px;
}

.event-section-tittle{
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
}

.event-card  .post-owner-avatar{
  height: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

}

.event-card  .post-owner-name{
  font-size: 13px;

}

.event-card .trip-owner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.event-card  .member-numbers{
  width: auto;
  bottom: auto;
}
.event-card  .participants-number{
  margin-bottom: 0;
  padding-left: 0;
  font-size: 13px;
  font-family: "Source Sans 3", serif;
  color: #000;
}
.event-card .icon-members{
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
}

.trip-people{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

}
