.group-owner {
  background-color: white;
}

.group-main-container {
  background: rgba(240, 242, 245, 1);
}
.group-owner {
  padding-left: 9px;
  padding-right: 9px;
}

.group-main-container .trip-button {
  width: 200px;
  margin-bottom: 18px;
}

.group-main-container .group-container {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.group-main-container .event-option {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
