.left-menu {
  width: 356px; /* Szerokość menu dostosowana do szerokości okna */
  background-color: #ffffff; /* Kolor tła */
  border-right: 0.1px inset #000000;
  height: 100vh;
 
  /* position: fixed; */
  top: 0;
  left: 0;
  /* display: flex; */
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  width: 100%; /* Szerokość logo na 100% kontenera */
  height: auto; /* Wysokość automatyczna */
  /* margin-bottom: 2vh; Odstęp poniżej logo z użyciem jednostek viewportowych */
}

.logo-conteiner {
  /* height: 8.5vh; Logo zajmuje 8.5% wysokości */
}

.profile-statistics {
  /* height: 27.5vh; Statystyki zajmują 27.5% wysokości */
  width: 100%; /* Opcjonalnie, aby zająć całą szerokość kontenera */  
}

.menu-content {
  /* height: 44vh; Menu zajmuje 44% wysokości */
  top: 51px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Równomierne rozmieszczenie elementów */
  border-top: rgba(0, 0, 0, 55) 1px inset;
  border-bottom: rgba(0, 0, 0, 55) 1px solid;
}
.nav-container {
  margin: 50px; /* Odstęp od góry */
  flex-grow: 1;
}

nav {
  height: 100%; /* Umożliwia zajmowanie całej wysokości kontenera */
  display: flex;
  align-items: center; /* Centruje elementy w pionie, jeżeli jest to potrzebne */
}

.menu-content ul, .menu-content-down ul {
   
  list-style: none;
  display: flex;
  flex-direction: column; /* Ułożenie elementów w kolumnie */
  justify-content: space-between; /* Równomierne rozmieszczenie elementów */
  margin: 0; /* Usuń marginesy listy */
}

.menu-content ul li {
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: rgb(0, 0, 0); /* Domyślny kolor linków */
  font-size: 18px;
  line-height:22.63px;
  display: flex;
  justify-content: start; /* Wyrównaj tekst i ikonkę do początku */
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu-item {
  display: flex; /* Flex dla ikony i tekstu */
  align-items: center; /* Wyrównanie pionowe */
  margin: 10%;
  padding-left: 15% ;
  height: 100%;
  width: 100%;
  
}

.menu-item .text, .text_events {
  padding-left: 15.5%;
  white-space: nowrap;


}

.menu-link.active .text {
  font-weight: bold; /* Ustawia pogrubienie tekstu aktywnego elementu */
}
.menu-item .icon {
  /* margin-right: 1vw; Odstęp od tekstu z użyciem jednostek viewportowych */
  width: 20px; /* Skalująca się szerokość ikony */
  height: 20px; /* Skalująca się wysokość ikony */
}

.menu-content-down {
  /* height: 20vh; Dolne menu zajmuje 20% wysokości */
}

.left-menu::-webkit-scrollbar {
  width: 8px; /* Szerokość paska przewijania */
  opacity: 0; /* Ukrywa pasek przewijania domyślnie */
  transition: opacity 0.3s ease; /* Płynne przejście */
}

/* Uchwyt paska przewijania */
.left-menu::-webkit-scrollbar-thumb {
  background-color: #888; /* Kolor uchwytu */
  border-radius: 30px; /* Okrągły kształt uchwytu */
}

/* Tor paska przewijania */
.left-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Kolor toru */
}

/* Ukrywa strzałki */
.left-menu::-webkit-scrollbar-button {
  display: none; /* Ukrywa strzałki */
}

/* Wyświetla pasek przewijania tylko na hover */
.left-menu:hover::-webkit-scrollbar {
  opacity: 1; /* Wyświetla pasek przewijania po najechaniu */
}

