.user-profile {
  display: flex;
  flex-direction: column; /* Ustawienie kierunku flex na kolumnę */
  align-items: center; /* Wyśrodkowanie elementów */
  margin: 0 auto; /* Centrowanie kontenera */
  margin-bottom: 20px; /* Dynamiczne wypełnienie w zależności od szerokości ekranu */
}

.profile-picture {
  width:  100px;
  height: 100px; /* Dynamiczna wysokość zdjęcia */
  border-radius: 50%; /* Kształt koła */
  /* border: 2px solid #ccc; Mały border wokół zdjęcia */
  object-fit: cover; /* Wypełnienie dla lepszego dopasowania */
  
}

.user-info {
  flex: 1; /* Pozwala na elastyczne dopasowanie */
  text-align: center; /* Wyśrodkowanie tekstu wewnątrz kontenera */
  padding-left: 13.5%; /* Odstęp od lewej */
  padding-right: 13.5%;
  width: 100%;
}

.user-stats {
  display: flex; /* Ustawienie elementów w wierszu */
  justify-content: space-around; /* Rozłożenie elementów w przestrzeni */
  margin-top: 0vh; /* Dynamiczny odstęp między imieniem a statystykami */
  width: 100%; /* Ustaw szerokość na 100% dla kontenera statystyk */
}

.stat-item {
  text-align: center; /* Wyśrodkowanie tekstu */
  margin-top: 20px;
}

.stat-value {
  font-size: 20px;
  line-height: 25.14px;

  font-weight: bold; /* Pogrubienie wartości */
}

.stat-title {
  display: block; /* Przeniesienie tytułu na nową linię */
 
  color: #555; /* Kolor tytułu */
  font-size: 12px;
  line-height: 15.08px;
}
h2 {
  font-size: 20px;
  line-height: 27.65px;
  margin-bottom: 5px;
}

.user-rang {
  font-size: 14px;
  line-height: 17.6px;
  color: rgba(0, 0, 0, 55) ;
}

/* Dla ekranów o szerokości większej niż 1920px */
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 17px;
    
  }
  .stat-value {
    font-size: 17px;
    line-height: 25.14px;
  
    font-weight: bold; /* Pogrubienie wartości */
  }
  
  .stat-title {
    display: block; /* Przeniesienie tytułu na nową linię */
   
    color: #555; /* Kolor tytułu */
    font-size: 10px;
    line-height: 15.08px;
  }
  .user-rang {
    font-size: 11.5px;
    line-height: 17.6px;
    color: rgba(0, 0, 0, 55) ;
  }
}


