.user-profile {
  display: flex;
  flex-direction: column; /* Ustawienie kierunku flex na kolumnę */
  align-items: center; /* Wyśrodkowanie elementów */
  margin: 0 auto; /* Centrowanie kontenera */
  padding: 1vw; /* Dynamiczne wypełnienie w zależności od szerokości ekranu */
}

.profile-picture {
  width:  9.3vh;
  height: 9.3vh; /* Dynamiczna wysokość zdjęcia */
  border-radius: 50%; /* Kształt koła */
  /* border: 2px solid #ccc; Mały border wokół zdjęcia */
  object-fit: cover; /* Wypełnienie dla lepszego dopasowania */
  margin-bottom: 0vh; /* Odstęp między zdjęciem a imieniem */
}

.user-info {
  flex: 1; /* Pozwala na elastyczne dopasowanie */
  text-align: center; /* Wyśrodkowanie tekstu wewnątrz kontenera */
  padding-left: 13.5%; /* Odstęp od lewej */
  padding-right: 13.5%;
  width: 100%;
}

.user-stats {
  display: flex; /* Ustawienie elementów w wierszu */
  justify-content: space-around; /* Rozłożenie elementów w przestrzeni */
  margin-top: 0vh; /* Dynamiczny odstęp między imieniem a statystykami */
  width: 100%; /* Ustaw szerokość na 100% dla kontenera statystyk */
}

.stat-item {
  text-align: center; /* Wyśrodkowanie tekstu */
}

.stat-value {
  font-size: 1.85vmin;
  line-height: 2.3vmin;

  font-weight: bold; /* Pogrubienie wartości */
}

.stat-title {
  display: block; /* Przeniesienie tytułu na nową linię */
  font-size: 1.5vh;
  color: #555; /* Kolor tytułu */
  font-size: 1.11vmin;
  line-height: 1.39vmin;
}
h2 {
  font-size: 2vmin;
  line-height: 2.5vh;

}
