.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(0, 0, 0, 0.5);
  margin-left: 8px;

  width: 900px;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  opacity: 0.5;
}

.trip-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 166px;
  height: 40px;
  background-color: #000000;
  color: #b0e26a;
  position: relative;

  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.trip-button:hover {
  -webkit-box-shadow: 0px 0px 2px 2px #b0e26a;
  -moz-box-shadow: 0px 0px 2px 2px #b0e26a;
  box-shadow: 0px 0px 2px 2px #b0e26a;
}

.search-button:hover {
  background-color: #0056b3;
}
.icon {
  /* margin-right: 20px; */
  width: 20px;
  height: 20px;
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .search-bar-container {
    width: 600px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .search-bar-container {
    width: 700px;
  }
}
