.search-bar-container {
  display: flex;
  align-items: center; /* Wyśrodkowanie w pionie */
  justify-content: center; /* Wyśrodkowanie horyzontalne elementu głównego */

  color: rgba(0, 0, 0, 0.5);

  width: 720px; /* Wypełnia całą dostępną szerokość */
  height: 100%; /* Dopasowanie do wysokości */
  /* padding: 0 15px; Minimalny padding z obu stron */
  box-sizing: border-box; /* Uwzględnij padding w szerokości */
  justify-content: space-between;
}

.search-bar {
  position: relative; /* Pozycjonowanie relatywne dla ikonki */
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute; /* Pozycjonowanie absolutne względem kontenera */
  left: 10px; /* Odległość od prawej krawędzi pola */
  width: 20px; /* Szerokość ikony */
  height: 20px; /* Wysokość ikony */
  pointer-events: none; /* Wyłączenie interakcji z ikoną */
  opacity: 0.5;
}

.trip-button {
  
  display: flex; /* Użycie flexbox do wyśrodkowania zawartości */
  align-items: center; /* Wyśrodkowanie w pionie */
  justify-content: center; 
  margin-right :10px;
  width: 166px;
  height: 40px;
  background-color: #000000; /* Kolor przycisku */
  color: #B0E26A;
  position: relative;

  
  border-radius: 30px; /* Zaokrąglone rogi przycisku */
  cursor: pointer;
  font-size: 16px;
}

.search-button:hover {
  background-color: #0056b3; /* Zmiana koloru przycisku po najechaniu */
}
.icon {
  margin-right: 20px;
  width: 16.5px;
  height: 16.5px;
}


@media (-webkit-device-pixel-ratio: 1.5) {
  .search-bar-container{
    width: 600px;
  }
}


