.suggestions-container {
  width: 100%;
  padding: 18px;
  text-align: left;
}

.list-of-suggestions {
  gap: 22px;
  /* max-height: 600px;
  overflow-y: auto; */
}

.list-of-suggestions .post-owner-container {
  margin-bottom: 9px;
  margin-top: 9px;
}

.suggestions-section {
  text-align: left;
  margin-top: 9px;
}
.suggestions-header {
  padding-bottom: 18px;
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .list-of-suggestions {
    max-height: 400px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .list-of-suggestions {
    max-height: 550px;
  }
}
