.skill-selector-container {
    width: 100%;
    z-index: 1000000;
}
  
  .selectors {
    display: flex;
    gap: 10px;
    /* justify-content: space-between; */
    margin-bottom: 20px;
    
  }

  .selector{
    display: flex;
    width: 370px;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .select-group {
    width: 370px;
    z-index: 1002;
  }
  
  .select-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .rate-activities-list{
    margin-top: 36px;
    max-height: 324px;
    min-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .rate-activities-list  .rateactivity-container{
    margin-bottom: 36px;
  }


  .language-flags {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 25px
  }
  
  .language-flags span {
    width: 24px; /* szerokość flagi */
    height: 24px; /* wysokość flagi */
    background-size: cover;
  }
  
  .activity-icons {
    display: flex;
    gap: 36px;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  
  .activity-icons .activity-icon {
    width: 48px;
    height: 48px;
  }
  

  @media (-webkit-device-pixel-ratio: 1.5)
{
    .rate-activities-list{
        /* width: 565px; */
        max-height: 165px;
    }
}


  
  

  