.profile-user-info {
  width: 900px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profile-user-info .different-profile-info {
  margin: 0;
}

.profile-select {
  height: 80px;
  top: 0; 
  z-index: 1;
  margin-bottom: 18px;
  margin-top: 20px; 
}

.different-profile-info {
  margin-top: 10px;
  margin-left: 18px;
  margin-right: 18px;
}

.different-profile-info .Post-page {
  width: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .profile-user-info {
    width: 600px;
  }

  .profile-user-info .user-stats {
    margin-top: 5px;
  }
  .profile-user-info .about-container .stat-title {
    margin-top: 0;
    font-size: 6px;
  }
  .profile-user-info .about-container .stat-value {
    font-size: 14px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .profile-user-info {
    width: 700px;
  }

  .profile-user-info .user-stats {
    margin-top: 8px;
  }
  .profile-user-info .about-container .stat-title {
    margin-top: 0;
    font-size: 8px;
  }
  .profile-user-info .about-container .stat-value {
    font-size: 16px;
  }
}
