.last-trip-container {
  width: 100%;
  align-items: flex-start;
  margin-left: 9px ;
  margin-right: 30px;
  text-align: left;
}

.last-trip-container .event-date {
  border: none;
  padding-bottom: 6.89px ;
}
.last-trip-container .event-name{
  font-size: 14px;
}

.last-trip-container .event-image-container{
  width: 45%;
}

.last-trip-container .event-details{
  width: 50%;
  /* padding-left: 10px; */
  margin-left: 9px;

}


.last-trip-container .event-about{
  padding-bottom:9px ;
  border: none
}

.last-trip-container .event-image{
  border-radius:50%;
  object-fit: fill;


}

.last-trip-container .event-name-container{
  align-items: center;
}


.last-trip-container .event-date .date-card{
  padding-left: 9px;
  padding-right: 9px;
  width: 48px ;
  height: 66px;
}

.last-trip-container .event-date .date-card .date-card__day{
  font-size: 24px;
}

.last-trip-container .event-card{
  padding: 8px;

}

.last-trip-container .event-description {
  font-size: 10px;
  color: #666;
  margin: 0;    
  display: -webkit-box; /* Wymagane dla obsługi line-clamp */
  -webkit-box-orient: vertical; /* Ustawienie osi pionowej */
  -webkit-line-clamp: 1; /* Maksymalna liczba linii */
  line-clamp: 1; /* Alternatywa dla nowoczesnych przeglądarek */
  overflow: hidden; /* Ukrycie nadmiaru tekstu */
  text-overflow: ellipsis; /* Dodanie kropek na końcu */
  max-width: 100%; /* Zapewnienie, że tekst dopasuje się do szerokości */
  word-wrap: break-word; /* Zawijanie tekstu w przypadku długich słów */
}
.last-trip-container .event-card .post-owner-avatar{
  width: 20px;
  height: 20px;
}

.last-trip-container .event-card .post-owner-name{
  font-size: 11px;

}

.last-trip-container .event-card .icon-members{
  height: 20px;
  width: 20px;
}

.last-trip-container  .event-card .user-container{
  padding-top: 0;
}

.component-title {
  font-size: 22px;
  font-weight: 600;
}

.trip-content {
  margin: 10px 5px;
  height: 131px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}

.trip-image-container {
  width: 42%;
  margin-left: 7px;
  margin-right: 7px;
}

.trip-image {
  border-radius: 50px;
  height: 115px;
  width: 115px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.trip-date-name {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 7px;
  /* margin-bottom: 5px; Dodanie przestrzeni pod nazwą */
  align-items: flex-start;
  overflow: hidden;
  height: 50%;
}
.last-trip-container p{
  margin-bottom: 0;
  margin-top: 0;
}

.trip-date {
  width: 46px;
  height: 63px;
  margin-right: 5px;
  margin-left: 5px;
  flex-shrink: 0; /* Zapobiega zmniejszaniu daty */
}

.trip-name {
  font-size: 12px;

  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  max-height: 63px; /* Maksymalna wysokość równa wysokości daty */
}

.trip-target {
  font-size: 12px;
  color: gray;
  display: inline-flex;
  white-space: nowrap;       /* Wymusza pojedynczą linię */
  overflow: hidden;          /* Ukrywa nadmiarowy tekst */
  text-overflow: ellipsis;   /* Dodaje wielokropek dla długiego tekstu */
  max-width: 100%; 
  margin-bottom: 0;          /* Ogranicza szerokość do dostępnej przestrzeni */
}
p{
  margin-bottom: 0;
  margin-top: 0;
  display: inline-flex;
  white-space: nowrap;       /* Wymusza pojedynczą linię */
  overflow: hidden;          /* Ukrywa nadmiarowy tekst */
  text-overflow: ellipsis;
}

.trip-people {
  position: relative;   /* Umożliwia pozycjonowanie absolutne dzieci */
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.member-numbers {
  position: absolute;   /* Ustawia licznik członków w prawym dolnym rogu */
  bottom: 0;
  right: 0;
  font-size: 12px;      /* Dopasowanie rozmiaru tekstu */
  margin: 5px;          /* Daje margines od prawego i dolnego rogu */
  color: gray;  
  height: 20px;
  width: 45px;        /* Dostosuj kolor tekstu, jeśli potrzebujesz */
}

.trip-owner{
  width: 100px;
  /* height: 18px; */
  margin-top: 0;

}

.last-trip-bottom{
  height: 50%;
}


.trip-owner  .post-owner-name {
  margin: 0;
  font-size: 11px;
  display: inline-flex;
}

.trip-owner .post-owner-details.no-date{
  padding: 0;
  margin-left: 5px;
}

.trip-owner .post-owner-container {
  height: 100%;
}
