.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Zmiana układu na kolumnę */
  font-family: 'Kanit', sans-serif;
  /* background: rgba(240, 242, 245, 1); */
  


  height: 100vh; /* Zajmuje całą wysokość ekranu */
}

