.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; /* Zmiana układu na kolumnę */
  font-family: 'Kanit', sans-serif;
  background: rgba(240, 242, 245, 1);

  overflow-y: auto;
  


  height: 100vh; /* Zajmuje całą wysokość ekranu */
}

.ssp{
  font-family: "Source Sans 3", serif;
}

#root{
  min-height: 100vh;
  display: flex;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; 
  background: rgba(240, 242, 245, 1);

 }





