.group-container{
  background-color: white;
  margin-bottom: 20px;
  border-radius: 10px;
}

.group-container .event-image{
  /* max-height: none; */
}
.group-container .event-main-image-container{
  max-height: none;
  margin-bottom: 0;
}