.event {
  width: 850px;
  top: 20px;
  left: auto;
  transform: none;
}

.line {
  width: 39px;
}

.event .create-post-title {
  font-size: 24px;
}

@media (-webkit-device-pixel-ratio: 1.5) {
  .event {
    transform: scale(0.75) translate(-0%, -65%);
    top: 50%;
    max-height: 800px;
  }
}

@media (-webkit-device-pixel-ratio: 1.25) {
  .event {
    transform: scale(0.83) translate(-0%, -65%);
    top: 55%;
    max-height: 880px;
  }
}
